#logoBar{
  width: 30%;
  font-size: 1.5vw;
  height: 100vh;
  color: #654321;
  font-family: monospace;
  background-color:bisque;
}

#siteLogo{
  width: 100%;
}

body {
  display: flex;
}

@media screen and (max-width: 600px){
  #staffGallery{
    width: 70vw;
    display: inherit;
    color: black;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  body {
    flex-direction: column;
  }
  #logoBar, #staffGallery {
    width: 100%; 
    height: auto; 
  }
}

@media screen and (min-width: 600px){
  #staffGallery{
    width: 70vw;
    display: inherit;
    color: #654321;
    font-size: 1.5vw;
    background-color: bisque;
    display: flex;
    flex-direction: row;
  }
}

.galleryImage{
  width: 100%;
  height: auto;
  background-color: white;
  object-fit: contain;
  overflow-clip-margin: content-box;
}

.card{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40%;
  background-color:white;
  border: solid bisque 2px;
  margin: 10px;
  object-fit: contain;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}